/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTEestiProDisplay-Regular";
  src: local("GTEestiProDisplay-Regular"),
   url("./assets/GTEestiProDisplay-Regular.ttf") format("ttf");
}

* {
  font-family: 'GTEestiProDisplay-Regular';
}